.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.685)), url(../src/assets/banner.jpg);
  background-position: top bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.contact {
  background: linear-gradient(90deg, #2b2a2a 0%, rgba(241, 91, 34, 0) 100%), url(../src/assets/contact2.jpg);
  background-position: top bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}


@media screen and (max-width: 576px) {
  .about-img img {
    width: 100%;
  }
}